## 2nd question

In [3]:
first_name = input("enter your first name = ")
second_name = input("enter your second name = ")
first_name[::-1]+str(' ')+second_name[::-1]

enter your first namekes
enter your second nameana

'sek ana'

In [ ]:
V=4/3 * Ï€ * r 3   r=6

# 3rd question

In [17]:
V = 4/3 * 3.14 * (6**3)
a = str(V)
print("the volume of the sphere is = ",a[0:6])

the volume of the sphere is =  904.31

# 1 st question

In [16]:
num = list(range(2000,3201))
las = []
for i in num:
    ass = str(i)
    ass1 = int(ass[3])
    ass2 = ass1*2
    ass3 =int(ass[0:3])
    mi = ass3-ass1
    mi1 = str(mi)
    mi2 = int(mi1[2])*2
    mi3 = int(mi1[0:2])-mi2
    if mi3%7==0:
        las.append(mi3)
print("The number's which are divisible by 7 but are not a multiple of 5, between 2000 and 3200")
print()
print(las)

The number's which are divisible by 7 but are not a multiple of 5, between 2000 and 3200

[7, 7, 7, 14, 7, 14, 7, 14, 7, 14, 14, 14, 14, 21, 14, 21, 14, 21, 14, 21, 21, 21, 21, 7, 21, 7, 21, 7, 21, 7, 7, 7, 7, 14, 7, 14, 7, 14, 7, 14, 14, 14, 14, 21, 14, 21, 14, 21, 14, 21, 21, 21, 21, 7, 21, 7, 21, 7, 21, 7, 7, 7, 7, 14, 7, 14, 7, 14, 7, 14, 14, 14, 14, 21, 14, 21, 14, 21, 14, 21, 21, 21, 21, 7, 21, 7, 21, 7, 21, 7, 7, 7, 7, 14, 7, 14, 7, 14, 7, 14, 14, 14, 14, 21, 14, 21, 14, 21, 14, 21, 21, 21, 21, 28, 21, 28, 21, 28, 21, 28, 28, 28, 28, 14, 28, 14, 28, 14, 28, 14, 14, 14, 14, 21, 14, 21, 14, 21, 14, 21, 21, 21, 21, 28, 21, 28, 21, 28, 21, 28, 28, 28, 28, 14, 28, 14, 28, 14, 28, 14, 14, 14, 14, 21, 14, 21, 14, 21, 14, 21, 21]